// 按钮颜色
.el-button--primary{
  background: $--color-primary!important;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


body{
  .el-button--text {
    padding: 2px 0!important;
    min-height: 0!important;
    color: $--color-primary;
  }
  // table
  .el-table td, .el-table th {
    padding: 6px 0 !important;
  }
  .el-table{
    border-radius: 6px 6px 0 0;
    border: 1px solid #EBEEF5;
    .el-table__header {
      th {
        text-align: center;
        color: white;
        background: $--color-primary;
        background-color: $--color-primary !important;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
      }
    }
    .el-table__fixed-right-patch {
      display: none;
    }
    tr:nth-child(even) {
      background-color: #f7f7f7;
    }
    .el-table__row {
      td:first-child {
        border-left: 2px solid transparent;
      }
    }
    .el-table__row:hover {
      td:first-child {
        border-left: 2px solid $--color-primary;
      }
    }
    .hover-row {
      td:first-child {
        border-left: 2px solid $--color-primary;
      }
    }
  }
  .el-pager li.active{
    color: $--color-primary!important;
  }
  .el-tabs__active-bar{
    background-color: $--color-primary!important;
  }
  .el-tabs__item.is-active{
    color: $--color-primary!important;
  }
  .el-transfer__button{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    min-height: 0;
    margin-left: 0!important;
    padding: 10px;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: $--color-primary!important;
    border-color: $--color-primary!important;
  }
  //  dialog
  .el-dialog__header{
    background-color: $--color-primary;
    .el-dialog__title,.el-dialog__headerbtn .el-dialog__close{
      color: white;
    }
  }
  .el-tree-node__expand-icon {
    color: $--color-primary;
  }
  .el-tree-node__expand-icon.is-leaf {
    color: transparent;
  }
}
.el-pagination{
  text-align: right;
  padding-top: 15px!important;
}
/* scrollbar */
.el-table--scrollable-y .el-table__fixed-right {
  right: 6px !important;
}
.el-table__body-wrapper::-webkit-scrollbar, .SelfScrollbar::-webkit-scrollbar {
  width: 6px;
  background: #ebeef5;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb,.SelfScrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc;
  height: 120px;
}
.el-table__body-wrapper::-webkit-scrollbar-track,.SelfScrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
}
// 新增全局样式
// 查询表单，
.queryForm{
  .el-form-item{
    margin-bottom: 8px!important;
    display: inline-block;
    &::before{
      display: inline-block;
    }
  }
}
/* table's row hide temporarily */
.rowDel {
    display: none;
}

// global button's style  -- important!!
body{
  .el-button--small{
    padding: 9px 11px;
  }
  .el-button [class*=el-icon-]+span{
    margin-left: 4px;
  }
  .el-button{
    .qmsIconfont{
      font-size: 12px;
      & + span{
            padding-left: 5px;
        }
    }
    &.delete-btn .el-icon-delete{
        color: var(--el-color-mark-delete);
    }
    &.delete-btn span{
        color: var(--el-color-mark-delete);
    }
    &.delete-btn span:hover{
        color: var(--el-color-error);
    }
    &.delete-btn.is-disabled span{
        color: var(--el-button-disabled-font-color);
    }
    &.delete-btn.is-disabled .el-icon-delete{
        color: var(--el-button-disabled-font-color);
    }
    
    .iconfont{
      font-size: 12px;
    }
  }
}


.fake-input-disabled{
    background-color: var(--el-disabled-fill-base,#f5f7fa);
    border-color: var(--el-disabled-border-base,#e4e7ed);
    color: var(--el-disabled-color-base,#c0c4cc);
    cursor: not-allowed;
    -webkit-appearance: none;
    background-image: none;
    border-radius: var(--el-input-border-radius,var(--el-border-radius-base),4px);
    border: var(--el-input-border,var(--el-border-base),1px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: var(--el-border-transition-base);
    transition: var(--el-border-transition-base);
    width: 100%;
}

.el-button--small.topic-button{
    height:32px;
    margin-left:5px;
    padding:0 11px;
    margin-left: 5px;
}

// table highlight color
.el-table__body tr.current-row>td{
    background-color: #ecf5ff !important;
}



/*
*改变浏览器默认的滚动条样式
*/

.el-table__body-wrapper::-webkit-scrollbar-track-piece {
    background-color:#f8f8f8;
}

//滚动条的宽度
.el-table__body-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
//滚动条的滑块
.el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #c0c1c5;
    border-radius: 3px;
}

.el-table__body-wrapper::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
}

.el-table__fixed,
.el-table__fixed-right {
  height: auto !important; // 让固定列的高自适应，且设置!important覆盖ele-ui的默认样式
  bottom: 0px !important; // 固定列默认设置了定位，    position: absolute;top: 0;left: 0;只需要再设置一下bottom的值，让固定列和父元素的底部出现距离即可
}
// data-tree flow menu style
.contextMenu {
    list-style: none;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 28px;
  }

// table 必填 mark
.el-table__header .required::before{
    content: '*';
    color: var(--el-color-danger);
    margin-right: 4px;
}

// form 必填 mark
.required .el-form-item__label:before {
    content: "*";
    color: #f00;
    margin-right: 4px;
}


// button  disable style
.topic-button.el-button--primary.is-disabled, 
.topic-button.el-button--primary.is-disabled:active, 
.topic-button.el-button--primary.is-disabled:focus, 
.topic-button.el-button--primary.is-disabled:hover {
    color: #fff ;
    background-color: #a0cfff !important;
    border-color: #a0cfff !important;
}
